<blockquote class="blockquote text-center">
    
    <footer class="blockquote-footer">
        <p>Copyright (c) 2020 Fabilone Santos da Silva - Todos os direitos reservados.</p>
    </footer>

</blockquote>
