<div class="div_body_content">

    <script>
        swal({
            title: "Sucesso!",
            text: "Aplicação excluida com sucesso.",
            icon: "success",
            buttons: ["Cancelar", "Novo Cadastro"]
        })
        .then((willDelete) => {
            if (willDelete) { window.location.href = "/create"; }
            else { window.location.href = "/"; }
        });
    </script>

</div>