<div class="div_body_content">

    <script>
        swal({
            title: "Sucesso!",
            text: "Atualização realizada no sistema.",
            icon: "success",
            button: "OK",
        })
        .then((willDelete) => {
            window.location.href = "/";
        });
    </script>

</div>