
<div class="div_body_content">
    <hr>
    <h5>Gerenciamento de Cadastro de Aplicações</h5>
    <br>
    <h6>Aplicações Cadastradas no Sistema:</h6>

    <div class="alert alert-info" role="alert">
        Ainda não existe nenhuma aplicação cadastrada no sistema.
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nome da Linguagem</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    <form action="/list-linguagem" method="GET">
                        <button type="submit" class="btn btn-outline-info">Listar Aplicações</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nome da Linguagem</h5>
                    <p class="card-text">With supporting text below as a natural lead-in  to additional content.</p>

                    <form action="/list-linguagem" method="GET">
                        <button type="submit" class="btn btn-outline-info">Listar Aplicações</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr>
</div>

