<div class="div_body_content">
    <hr>
    <h5><i class="fas fa-angle-right"></i>&nbsp;Aplicações em <b>{{lg_name}}</b></h5>

    <table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">URL</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
    {{#linguagem}}
    <tr>
      <th scope="row">{{codigo}}</th>
      <td>{{name}}</td>
      <td>{{URL}}</td>
      <td>Detalhar | Editar | Excluir</td>
    </tr>
    {{/linguagem}}
  </tbody>
</table>



    
</div>